
/* Class selector */

.background {
    font-family: 'Crimson Pro';
}

.summary{
    padding-top: 50px;
}

.circular_logo{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 3px 5px 5px gray;
}

.contact{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.contact a{
    padding: 30px;
}

.project-card{
    max-height: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 50px;
}

.project-card .content{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.content:hover{
    background-color: #9d866c;
    color: #FAF9F6;
}

.cards img{
    padding-bottom: 50px;
}

/* ID selector */

#summary a{
    color:  #0B1215;
    font-weight: bold;
    font-size: medium;
    text-decoration: none;
    border: 2px solid  #0B1215;
    border-radius: 25px;
    padding: 10px;
    position: relative;
    text-align: center;
    display: block;
    margin: auto;
    width: 250px;
}

#summary a:hover{
    color: #FAF9F6;   
    background-color:  #0B1215;
    border: 2px solid  #0B1215;
}
#Contact_me{
    width: 400px;
    height: 300px;
    background-color: rgb(255,255,255,0.5);
    border-radius: 25px;
    margin: auto;
    margin-top: 80px;
    padding-top: 60px;
    padding-bottom: 60px;
}

#Contact_me h1{
    text-align: center;
    text-decoration: none;
}

.skills-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#Skills .cards p{
    text-align: center;
}

#projects #thabbit, #projects #restaurants, #projects #to-do, #projects #dictionary{
    display: none;
}

#who-am-i{
    padding-bottom: 100px;
    text-align: left;
}

#projects a{
    cursor: pointer;
}

.content a:hover{
    color: #FAF9F6;
    text-decoration: underline;
    cursor: pointer;
}

.slide-in {
    transform: translateX(-200%);
}

.slide-in.show-animation {
    animation: slideIn 2s both;
}

@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.cards h4 {
    position: relative;
    font-weight: bold;

}

.content{
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 150px 0;
}

#mainpage-projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#mainpage-projects .project-card{
    margin-bottom: 100px;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-content{
    display: grid;
    grid-template-columns: 1fr;
}


/* Type/element selector */

html{
    scroll-behavior: smooth;
    transition: ease-in-out;
    overflow-x: auto;
    overflow-y: auto;
    scrollbar-gutter: stable;
}

section{
    padding: 20px;
    margin-top: 30px;
    text-align: center;
}

p{
    text-align: center;
    font-size: larger;
}

section h2{
    color: #9d866c;
    margin-bottom: 20px;
}

.summary strong{
    color: #9d866c;
}

body section, body > div{
    margin: 30px;
}

@media (max-width:900px) {
    .projects p{
        font-size: small;
    }
}

